In [1]:
# Import dependencies.
import pandas as pd

In [2]:
# Define a path to the csv files we want to read.
school_data = 'Resources/schools_complete.csv'
student_data = 'Resources/students_complete.csv'

In [3]:
# Read the school and student csv files and store their contents in DataFrame
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

# Merge the two files into a single data set to work with. 
merged_df = pd.merge(school_df, student_df, how = 'left', on = ['school_name','school_name'])
merged_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [4]:
# District summary

In [5]:
total_schools = len(merged_df['school_name'].unique())
total_students = len(merged_df['student_name'])
total_budget = sum(merged_df['budget'].unique())
average_math = merged_df['math_score'].mean()
average_reading = merged_df['reading_score'].mean()
passed_math = len(merged_df.loc[merged_df['math_score'] >= 70])
passed_math_percent = (passed_math / total_students)*100
passed_reading = len(merged_df.loc[merged_df['reading_score'] >= 70])
passed_reading_percent = (passed_reading / total_students)*100
passed_overall = len(merged_df.loc[(merged_df['math_score'] >=70) & (merged_df['reading_score']>=70)])
passed_overall_percent = (passed_overall / total_students)*100

In [6]:
district_df = pd.DataFrame({'Total Schools': [total_schools], 
                            'Total Students': total_students,
                            'Total Budget': total_budget,
                            'Average Math Score': average_math,
                            'Average Reading Score': average_reading,
                            '% Passing Math': passed_math_percent,
                            '% Passing Reading': passed_reading_percent,
                            '% Overall Passing': passed_overall_percent})

In [7]:
district_df['Total Students'] = district_df['Total Students'].map('{:,}'.format)
district_df['Total Budget'] = district_df['Total Budget'].map('${:,.2f}'.format)
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [8]:
# School Summary

In [9]:
# Group the data by school
grouped_schools = merged_df.groupby(['school_name'])

In [39]:
# Perform calculations on the groupby dataset to get desired school statistics
school_type_grouped = grouped_schools['type'].unique()
total_students_grouped = grouped_schools['student_name'].count()
total_budget_grouped = grouped_schools['budget'].unique()
student_budget_grouped = total_budget_grouped / total_students_grouped
average_math_grouped = grouped_schools['math_score'].mean()
average_reading_grouped = grouped_schools['reading_score'].mean()

passed_math_names = merged_df.loc[merged_df['math_score'] >= 70]
passed_math_grouped = passed_math_names.groupby(['school_name']).count()['student_name']
passed_math_grouped_percent = (passed_math_grouped/total_students_grouped)*100

passed_reading_names = merged_df.loc[merged_df['reading_score'] >= 70]
passed_reading_grouped = passed_reading_names.groupby(['school_name']).count()['student_name']
passed_reading_grouped_percent = (passed_reading_grouped/total_students_grouped)*100

passed_overall_names = merged_df.loc[(merged_df['math_score'] >=70) & (merged_df['reading_score']>=70)]
passed_overall_grouped = passed_overall_names.groupby(['school_name']).count()['student_name']
passed_overall_grouped_percent = (passed_overall_grouped/total_students_grouped)*100

In [40]:
new_df = pd.DataFrame({'School Type': school_type_grouped,
                        'Total Students': total_students_grouped,
                        'Total School Budget': total_budget_grouped,
                        'Per Student Budget': student_budget_grouped,
                        'Average Math Score': average_math_grouped,
                        'Average Reading Score': average_reading_grouped,
                        '% Passing Math': passed_math_grouped_percent,
                        '% Passing Reading': passed_reading_grouped_percent,
                        '% Overall Passing': passed_overall_grouped_percent})
new_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,90.333333